# macOS-specific files
.DS_Store

# Build files and directories
.build/

# Xcode and SwiftPM-related files
*.xcodeproj
*.xcworkspace
*.xcuserstate
*.xcscheme
*.plist
*.xccheckout
*.swiftsourceinfo

# Logs and debugging
*.log
*.swp
*.swo

# YAML and other configuration artifacts (if not required in the repo)
*.yaml

# Git-specific files
.git/

# Temporary files
*.tmp
*.bak
*.old
*~
